

function friendlyMonth(timedata) {
  var month = timedata.substring(0, 2)
  var day = timedata.substring(2)

  return month+"月"+ day +"日"
}

function friendlyHour(timedata){
  var time = getDate(timedata)
  var hour = time.getHours()
  var minute = time.getMinutes()
  return hour + ":" + minute
}

module.exports = {
  friendlyMonth: friendlyMonth,
  friendlyHour: friendlyHour
};